* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}
#banner {
    width: 160px;
    height: 600px;
    background: #e60000 url(assets/bg.jpg);
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}
#clickTag {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
}
.logo {
    position: absolute;
    bottom: 23px;
    right: 67px;
    width: 25px;
}
.sticker {
    position: absolute;
    top: 190px;
    left: 17px;
    width: 74px;
    animation: pulse 1s ease-in-out infinite;
    z-index: 3;
}
.hl1 {
    position: absolute;
    top: 23px;
    left: 27px;
    width: 108px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 50ms;
}
.hl2 {
    position: absolute;
    top: 86px;
    left: 22px;
    width: 115px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 150ms;
}
.hl3 {
    position: absolute;
    top: 116px;
    left: 9px;
    width: 141px;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 200ms;
}
.phone {
    position: absolute;
    top: 230px;
    left: 50px;
    z-index: 2;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 400ms;
}
.tv {
    position: absolute;
    top: 364px;
    left: 27px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 600ms;
}
.tablet {
    position: absolute;
    top: 298px;
    left: 29px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 500ms;
}
.loga {
    position: absolute;
    bottom: 84px;
    left: 36px;
}
.loga .line {
    background-color: #c80000;
    position: absolute;
    top: 1px;
    left: 50px;
    width: 2px;
    height: 19px;
}
.loga .prima {
    background: url(assets/prima.svg) no-repeat;
    width: 43px;
    height: 17px;
    position: absolute;
    top: 2px;
    left: 0;
}
.loga .hbo {
    background: url(assets/hbo.svg) no-repeat;
    width: 27px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 61px;
}
.cta {
    position: absolute;
    bottom: 100px;
    left: 36px;
    width: 88px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
}
.cta svg {
    position: absolute;
    top: 9px;
    left: 22px;
    width: 55px;
    fill: #e60000;
}
#clickTag:hover .cta {
    background-color: #9b2a9f;
    animation: btnZoom 0.3s ease-out forwards;
}
#clickTag:hover .cta svg {
    fill: #fff;
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    40% {
        opacity: 1;
        transform: translateY(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnZoom {
    to {
        transform: scale(1.1);
    }
}

@keyframes imgScale {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    to {
        transform: scale(1);
        opacity: 1;
    }
}