* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}
#banner {
    width: 480px;
    height: 480px;
    background: #e60000 url(assets/bg.jpg);
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}
#clickTag {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
}
.logo {
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 42px;
}
.sticker {
    position: absolute;
    top: 32px;
    right: 35px;
    width: 121px;
    animation: pulse 1s ease-in-out infinite;
    z-index: 2;
}
.hl1 {
    position: absolute;
    top: 35px;
    left: 36px;
    width: 273px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 50ms;
}
.hl2 {
    position: absolute;
    top: 80px;
    left: 36px;
    width: 257px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 150ms;
}
.hl3 {
    position: absolute;
    top: 126px;
    left: 36px;
    width: 240px;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 200ms;
}
.phone {
    position: absolute;
    top: 198px;
    left: 36px;
    z-index: 2;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 600ms;
}
.tv {
    position: absolute;
    top: 193px;
    left: 245px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 400ms;
}
.tablet {
    position: absolute;
    top: 256px;
    left: 122px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 500ms;
}
.loga {
    position: absolute;
    bottom: 71px;
    left: 221px;
    transform: scale(1.7);
}
.loga .line {
    background-color: #c80000;
    position: absolute;
    top: 1px;
    left: 50px;
    width: 2px;
    height: 19px;
}
.loga .prima {
    background: url(assets/prima.svg) no-repeat;
    width: 43px;
    height: 17px;
    position: absolute;
    top: 2px;
    left: 0;
}
.loga .hbo {
    background: url(assets/hbo.svg) no-repeat;
    width: 27px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 61px;
}
.cta {
    position: absolute;
    bottom: 27px;
    left: 31px;
    width: 150px;
    height: 52px;
    background-color: #fff;
    border-radius: 10px;
}
.cta svg {
    position: absolute;
    top: 17px;
    left: 39px;
    width: 90px;
    fill: #e60000;
}
#clickTag:hover .cta {
    background-color: #9b2a9f;
    animation: btnZoom 0.3s ease-out forwards;
}
#clickTag:hover .cta svg {
    fill: #fff;
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    40% {
        opacity: 1;
        transform: translateY(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnZoom {
    to {
        transform: scale(1.1);
    }
}

@keyframes imgScale {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    to {
        transform: scale(1);
        opacity: 1;
    }
}