* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}
#banner {
    width: 500px;
    height: 200px;
    background: #e60000 url(assets/bg.jpg);
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}
#clickTag {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
}
.logo {
    position: absolute;
    bottom: 23px;
    right: 22px;
    width: 29px;
}
.sticker {
    position: absolute;
    top: 19px;
    right: 20px;
    width: 83px;
    animation: pulse 1s ease-in-out infinite;
    z-index: 3;
}
.hl1 {
    position: absolute;
    top: 20px;
    left: 23px;
    width: 186px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 50ms;
}
.hl2 {
    position: absolute;
    top: 50px;
    left: 22px;
    width: 176px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 150ms;
}
.hl3 {
    position: absolute;
    top: 82px;
    left: 23px;
    width: 165px;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 200ms;
}
.phone {
    position: absolute;
    top: 62px;
    left: 366px;
    z-index: 2;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 600ms;
}
.tv {
    position: absolute;
    top: 4px;
    left: 246px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 400ms;
}
.tablet {
    position: absolute;
    top: 115px;
    left: 246px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 500ms;
}
.loga {
    position: absolute;
    bottom: 80px;
    left: 26px;
    transform: scale(0.85);
}
.loga .line2 {
    background-color: #c80000;
    position: absolute;
    top: -3px;
    left: 124px;
    width: 2px;
    height: 19px;
}
.loga .line {
    background-color: #c80000;
    position: absolute;
    top: -3px;
    left: 183px;
    width: 2px;
    height: 19px;
}
.loga .stokanalu {
    background: url(assets/stokanalu.svg) no-repeat;
    width: 112px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.loga .prima {
    background: url(assets/prima.svg) no-repeat;
    width: 43px;
    height: 17px;
    position: absolute;
    top: 0px;
    left: 135px;
    transform: scale(0.8);
}
.loga .hbo {
    background: url(assets/hbo.svg) no-repeat;
    width: 27px;
    height: 19px;
    position: absolute;
    top: -2px;
    left: 191px;
    transform: scale(0.8);
}
.cta {
    position: absolute;
    bottom: 27px;
    left: 31px;
    width: 77px;
    height: 26px;
    background-color: #fff;
    border-radius: 5px;
}
.cta svg {
    position: absolute;
    top: 7px;
    left: 16px;
    width: 57px;
    fill: #e60000;
}
#clickTag:hover .cta {
    background-color: #9b2a9f;
    animation: btnZoom 0.3s ease-out forwards;
}
#clickTag:hover .cta svg {
    fill: #fff;
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    40% {
        opacity: 1;
        transform: translateY(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnZoom {
    to {
        transform: scale(1.1);
    }
}

@keyframes imgScale {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    to {
        transform: scale(1);
        opacity: 1;
    }
}