* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}
#banner {
    width: 600px;
    height: 1080px;
    background: #e60000 url(assets/bg.jpg);
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}
#clickTag {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
}
.logo {
    position: absolute;
    bottom: 78px;
    right: 67px;
    width: 45px;
}
.sticker {
    position: absolute;
    top: 347px;
    right: 68px;
    width: 168px;
    animation: pulse 1s ease-in-out infinite;
    z-index: 2;
}
.hl1 {
    position: absolute;
    top: 69px;
    left: 53px;
    width: 495px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 50ms;
}
.hl2 {
    position: absolute;
    top: 150px;
    left: 68px;
    width: 468px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 150ms;
}
.hl3 {
    position: absolute;
    top: 233px;
    left: 83px;
    width: 434px;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 200ms;
}
.phone {
    position: absolute;
    top: 599px;
    left: 394px;
    z-index: 2;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 600ms;
}
.tv {
    position: absolute;
    top: 463px;
    left: 110px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 400ms;
}
.tablet {
    position: absolute;
    top: 704px;
    left: 114px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 500ms;
}
.loga {
    position: absolute;
    top: 966px;
    left: 320px;
    transform: scale(1.5);    
}
.loga .line {
    background-color: #c80000;
    position: absolute;
    top: 1px;
    left: 50px;
    width: 1.5px;
    height: 19px;
}
.loga .prima {
    background: url(assets/prima.svg) no-repeat;
    width: 43px;
    height: 17px;
    position: absolute;
    top: 2px;
    left: 0;
}
.loga .hbo {
    background: url(assets/hbo.svg) no-repeat;
    width: 27px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 61px;
}
.cta {
    position: absolute;
    bottom: 74px;
    left: 63px;
    width: 154px;
    height: 53px;
    background-color: #fff;
    border-radius: 10px;
}
.cta svg {
    position: absolute;
    top: 15px;
    left: 38px;
    width: 98px;
    fill: #e60000;
}
#clickTag:hover .cta {
    background-color: #9b2a9f;
    animation: btnZoom 0.3s ease-out forwards;
}
#clickTag:hover .cta svg {
    fill: #fff;
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    40% {
        opacity: 1;
        transform: translateY(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnZoom {
    to {
        transform: scale(1.1);
    }
}

@keyframes imgScale {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    to {
        transform: scale(1);
        opacity: 1;
    }
}