* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}
#banner {
    width: 480px;
    height: 300px;
    background: #e60000 url(assets/bg.jpg);
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}
#clickTag {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
}
.logo {
    position: absolute;
    bottom: 22px;
    right: 25px;
    width: 25px;
}
.sticker {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 103px;
    animation: pulse 1s ease-in-out infinite;
    z-index: 2;
}
.hl1 {
    position: absolute;
    top: 30px;
    left: 29px;
    width: 196px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 50ms;
}
.hl2 {
    position: absolute;
    top: 62px;
    left: 29px;
    width: 186px;
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 150ms;
}
.hl3 {
    position: absolute;
    top: 94px;
    left: 29px;
    width: 174px;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInDown 0.5s ease-out forwards;
    animation-delay: 200ms;
}
.phone {
    position: absolute;
    top: 149px;
    left: 365px;
    z-index: 2;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 600ms;
}
.tv {
    position: absolute;
    top: 90px;
    left: 241px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 400ms;
}
.tablet {
    position: absolute;
    top: 195px;
    left: 243px;
    z-index: 1;
    transform: scale(0);
    animation: imgScale 0.3s ease-out forwards;
    animation-delay: 500ms;
}
.loga {
    position: absolute;
    bottom: 158px;
    left: 32px;
    transform: scale(1.4);
}
.loga .line2 {
    background-color: #c80000;
    position: absolute;
    top: 18px;
    left: 0px;
    width: 112px;
    height: 2px;
}
.loga .line {
    background-color: #c80000;
    position: absolute;
    top: 26px;
    left: 57px;
    width: 2px;
    height: 19px;
}
.loga .stokanalu {
    background: url(assets/stokanalu.svg) no-repeat;
    width: 112px;
    height: 13px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.loga .prima {
    background: url(assets/prima.svg) no-repeat;
    width: 43px;
    height: 17px;
    position: absolute;
    top: 27px;
    left: 8px;
}
.loga .hbo {
    background: url(assets/hbo.svg) no-repeat;
    width: 27px;
    height: 19px;
    position: absolute;
    top: 26px;
    left: 68px;
}
.cta {
    position: absolute;
    bottom: 27px;
    left: 31px;
    width: 128px;
    height: 45px;
    background-color: #fff;
    border-radius: 10px;
}
.cta svg {
    position: absolute;
    top: 14px;
    left: 30px;
    width: 86px;
    fill: #e60000;
}
#clickTag:hover .cta {
    background-color: #9b2a9f;
    animation: btnZoom 0.3s ease-out forwards;
}
#clickTag:hover .cta svg {
    fill: #fff;
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    40% {
        opacity: 1;
        transform: translateY(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnZoom {
    to {
        transform: scale(1.1);
    }
}

@keyframes imgScale {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    to {
        transform: scale(1);
        opacity: 1;
    }
}